@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam:wght@400;700&display=swap');

/* Apply Font to .amsfonts Class */
.amsfonts {
    font-family: 'New Amsterdam', sans-serif;
    font-weight: 700;
}

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/* Apply Lobster font globally */
body {
    font-family: 'Lobster', cursive;
}

/* Or apply to specific classes */
.lobster {
    font-family: 'Lobster', cursive;
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/* Regular 400 */
.poppins-regular {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

/* Italic 400 */
.poppins-italic {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: italic;
}

/* Regular 500 */
.poppins-medium {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
